


<!-- <div style="position: relative;"><div class="footer">
    <div class="jumbotron">
        <div class="row footer-margin">
            <div class="columns logo-social-div"><a href="/" target="" rel=""><img class="footer_logo"
                        src="https://playo-website.imgix.net/logo/playo-logo-footer-website.png?auto=format,compress&amp;h=100"
                        alt="logo"></a>
                <div class="download-icons" style="align-items:center"><a
                        href="https://play.google.com/store/apps/details?id=com.techmash.playo" target="_blank"
                        title="Download from Playstore"><img
                            src="https://playo-website.imgix.net/icons/download-android.png?auto=format,compress"
                            alt="Google-play"></a><a
                        href="https://itunes.apple.com/us/app/playo-local-sports-community/id1018786950?ls=1&amp;mt=8"
                        target="_blank" title="Download from App Store"><img
                            src="https://playo-website.imgix.net/icons/download-ios.png?auto=format,compress"
                            alt="Apple-store"></a></div>
            </div>
            <div class="columns footer-link-div">
                <div class="row">
                    <div class="columns company-links company">
                        <div class="footer-content footer-float-left">
                            <ul>
                                <li><a href="/about" class="link" target="" rel="">About Us</a></li>
                                <li><a href="/partner-with-us" class="link" target="" rel="">Partner With Us</a></li>
                                <li><a href="/brand-activations" class="link" target="" rel="">Brand Activations</a>
                                </li>
                                <li><a href="/corporate-offerings" class="link" target="" rel="">Corporate Offerings</a>
                                </li>
                                <li><a href="/contact" class="link" target="" rel="">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="columns company-links company">
                        <div class="footer-content ">
                            <ul>
                                <li><a href="/venues" class="link" target="" rel="">Places</a></li>
                                <li><a href="/explore" class="link" target="" rel="">Activites</a></li>
                                <li><a href="https://blog.playo.co/" class="link" target="_blank">Blog</a></li>
                                <li><a href="https://playo.zendesk.com/hc/en-us" class="link" target="_blank">FAQs</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="columns company-links company">
                        <div class="footer-content">
                            <ul>
                                <li><a href="https://www.facebook.com/PlayoApp/" target="_blank">Facebook</a></li>
                                <li><a href="https://twitter.com/playoApp" target="_blank">Twitter</a></li>
                                <li><a href="https://in.pinterest.com/playoapp/?etslf=2309&amp;eq=playo%20"
                                        target="_blank">Pinterest</a></li>
                                <li><a href="https://instagram.com/playoapp/" target="_blank">Instagram</a></li>
                                <li><a href="https://www.linkedin.com/company/playo" target="_blank">Linkedin</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class=""><em><strong>©2018 TechMash Solutions Private Limited.</strong> All Rights Reserved.</em></div>
            <div class="botttom_privacy_links"><a href="/privacy" target="_blank">Privacy Policy</a><a href="/terms"
                    target="_blank">Terms of Service</a><a href="/careers" class="link" target="" rel="">Careers <span
                        class="hire-badge">We're hiring!</span></a></div>
        </div>
    </div>
</div>
</div> -->
<div class="footer">
    <div class="jumbotron mb-0 theme-background-color p-3">

    
<div class="col-12">
    <div class="row">
        <div class="col-sm-6 text-left"> 
            <p class="font-rancho site-logo">Beat BUDS</p>
            <div class="row">
                <div class="col-sm-6">
                    <i class="fa fa-play fa-2x mt-3 white-color" aria-hidden="true"></i>
                    <i class="fa fa-apple fa-2x mt-3 white-color pl-2" aria-hidden="true"></i>
                    <!-- <div class="logo-google"><a href="https://play.google.com/store/apps/details?id=com.techmash.playo"><img
                                src="https://playo-website.imgix.net/download/google-play-new.png?auto=compress,format"
                                alt="Google-play"></a></div>

                                <div class="logo-google"><a href="https://play.google.com/store/apps/details?id=com.techmash.playo"><img
                                            src="https://playo-website.imgix.net/download/google-play-new.png?auto=compress,format"
                                            alt="Google-play"></a></div> -->
                </div>
                
                <!-- <div class="w-50">
                    
                </div> -->
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <p class="white-color"> ©2020 BeatBUDS. All Rights Reserved.</p>
            <p><span class="white-color otherMenus">Privacy policy</span> <span class="white-color pl-4 otherMenus">Terms of
                    Service</span></p>
        </div>
            
        
    </div>
</div>
</div>
</div>