<!-- <nav class="navbar navbar-expand-lg navbar-dark fixed-top p-2 transparent" id="mainNav" #navHeader>
    <div class="container">
        <p class="font-rancho site-logo">Beat BUDS</p>
        <button
            class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation"><i class="fas fa-bars ml-1"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item white-color"><div class="p-1"><i class="fa fa-home" ></i><span class="pl-2">HOME</span></div></li>
                <li class="nav-item white-color" (click)="scrollToElement(blog)"><div class="p-1"><i class="fa fa-book" ></i><span class="pl-2">BLOGS</span></div></li>
                <li class="nav-item white-color"><div class="p-1"><i class="fa fa-calendar" ></i><span class="pl-2">EVENTS</span></div></li>
                <li class="nav-item white-color"><div class="p-1"><i class="fa fa-phone" ></i><span class="pl-2">CONTACTS</span></div></li>
            </ul>
        </div>
    </div>
</nav> -->